# Auto-load .env and export GIT_SHA for docker-bake.hcl
dotenv

if git diff-index --quiet HEAD -- 2>/dev/null; then
  export GIT_SHA=$(git rev-parse --short HEAD)
else
  export GIT_SHA=$(git rev-parse --short HEAD)-dirty
fi
