name: Rebase all Dependabot PRs

on:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  rebase:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: .github/actions
      - uses: ./.github/actions/dependabot-batch
        with:
          command: rebase
          github-token: ${{ secrets.DEPENDABOT_PAT }}
